{% include "header.html" %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='images/help_diabetes.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Articles</h1>
                    <span class="subheading">Share things that helps you or the reader against Diabetes</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    {% if articles != []: %}
        <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for article in articles: %}
                <div class="post-preview">
                <a href="{{ url_for('show_article', article_id=article.id) }}">
                    <h2 class="post-title">{{ article.title }}</h2>
                    <h3 class="post-subtitle">{{ article.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('user_details', user_id=article.author.id) }}">{{ article.author.name }}</a>
                    on {{article.date}}
                    {% if current_user.is_authenticated: %}
                        {% if article.id not in favorite_article_ids: %}
                            <a href="{{url_for('your_favorites', article_id=article.id)}}">
                                <i class="fa-solid fa-heart fa-2xl" style="color: #4eb3ef;"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if article.author_id == current_user.id: %}
                        <a href="{{url_for('delete_article', article_id=article.id) }}">✘</a>
                    {% endif %}
                </p>

                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}
    
            <!-- New Post -->
            <!-- TODO: Only show Create Post button if user id is 1 (admin user) -->
    
            <!-- Pager-->
            <!-- <div class="d-flex justify-content-end mb-4">
            <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>
            </div> -->
        </div>
        </div>
    {% else: %}
    <div class="image-container my-3">
        <img src="static/images/resources_not_found.jpg" class="resources_not_found" alt="No Articles" srcset="">
    </div>
    {% endif %}
    <div class="d-flex justify-content-end my-4">
        <a
        class="btn btn-primary float-right"
        href="{{url_for('add_new_article')}}"
        >Create New Post</a
        >
    </div>
</div>
{% include "footer.html" %}